@font-face {
    src: url("../fonts/UTM ViceroyJF.ttf");
    font-family: viceroy;
}

.banner{
    position: relative;

    &__background{

        // responsive
        img,source{
            @include breakpoint-down("xs"){
                max-width: unset !important;
            }
        }
    }

    &__infor{   
        text-align: center;
        @include absolute(null,null,4vh,20%);

        h1,h2{
            color: $colorGreen;
        }

        h1{
            @include font(6vw,viceroy,300);
        }

        p{
            @include font(1vw,$fontDetault,300);
            color: $colorText;
            margin: 10px 0;
        }

        h2{
            @include font(2vw,$fontDetault,300);
        }

        // responsive

        @include breakpoint-down("medium"){
            bottom: 12%;

            h2{
                margin-bottom: 10px;
            }
        }

        @include breakpoint-down("small"){
            bottom: 10%;

            p{
                margin: 5px 0;
            }

        }

        @include breakpoint-down("xs"){
            bottom: 15%;
            left: 5%;
            
            h1{
                font-size: 5rem;
            }

            p{
                @include font(1rem,null,400);
            }

            span{
                display: block;
            }

            h2{
                font-size: 2rem;
            }
        }

    }
}

.promotion{
    &__contain{
        max-width: 850px;
    }

    &__item{
        text-align: center;
        padding: 30px 0;

        p{
            padding: 0 40px;
            margin-top: 10px;
            @include font(null,$fontDetault,500);
            line-height: 1.5rem;
        }

        &:nth-child(2),
        &:nth-child(1){
            position: relative;

            &::before{
                content: "";
                @include absolute(null,0,null,null);
                @include size(1px,80px);
                background-color: $corlorCorder;
            };

            // responsive
            @include breakpoint-down("small") {
                &::before{
                    content: unset;
                }
            }
        }

        // responsive
        @include breakpoint-down("small"){
            @include flex(space-evenly,center);
            text-align: left;
            width: 90%;
            margin: auto;
            padding: 30px 20px;

            p{
                flex-basis: 65%;
                line-height: initial;
                margin: 0 !important;
            }

            &:nth-child(2){
                border-bottom: 1px solid $colorListItem;
                border-top: 1px solid $colorListItem;
            }
        }
    }
}
