mixin pagination
  .list__type
    .list__type__icon
      label(for="grid").list__type__check1
        i.fa.fa-th-large
      label(for="list").list__type__check2
        i.fa.fa-list
    nav(aria-label='Page navigation example').list__type__pagina
      ul.pagination
        li.page-item
          a.page-link(href='#' aria-label='Previous')
            span(aria-hidden='true') &laquo;
        li.page-item
          a.page-link(href='#') 1
        li.page-item
          a.page-link(href='#') 2
        li.page-item
          a.page-link(href='#') 3
        li.page-item
          a.page-link(href='#' aria-label='Next')
            span(aria-hidden='true') &raquo;
