.btn{

    &-dark{
        border: unset;
        border-radius: unset;
        padding: 5px;
        margin-top: 10px;
        font-size: 12px;

        &:hover{
            background-color: $colorGreen;
        }
    }

    &-link{
        color: black;
        font-size: 1.5vw;

        &:hover{
            color: $colorGreen;
        }

        // responsive
        @include breakpoint-down("xs"){
            font-size: inherit;
        }

    }
}