.accordion {
  margin-bottom: 30px;

  &-item {
    border-bottom: 1px dotted $corlorCorder !important;
  }

  &-button {
    padding: 15px 0 !important;
    @include font(0.8rem, $fontDetault, 500);
    &:not(.collapsed) {
      color: $colorGreen;
      background-color: initial;
    }

    &:focus {
      box-shadow: none;
    }
  }

  &-body {
    padding: 0 25px 10px 25px;
    li {
      @include font(0.85rem, $fontDetault, 300);
      list-style-type: square;
      line-height: 25px;
      color: $colorText
    }
  }
}
