.contact {
  &__form {
    padding: 20px 0;
    text-align: center;

    input {
      @include size(100%, 40px);
      border: 1px solid $corlorCorder;
      padding-left: 20px;
    }

    p {
      @include font(0.6rem, $fontDetault, 300);
      margin: 15px 0 10px 0;
      color: $corlorCorder;
    }

    button {
      @include size(80px, 30px);
      margin: 10px 0 20px 0;
    }
  }
}

.form {
    &__head {
        @include font(1.5rem,$fontDetault,300);
        margin: 20px 0;
    }

    &-label {
        @include font(0.8rem,$fontDetault,500);
    }

    &-control {
        outline: unset;

        &:focus {
            box-shadow: none;
        }
    }
}
